{% extends 'base.html' %}

{% from 'bootstrap5/form.html' import render_form %}

{% block title %}
    {{ title }}
{% endblock title %}



{% block content %}

<!-- register HERO SECTION -->
<section style="height: auto;" id="register-header" class="align-items-center text-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="text-white fw-semibold display-3">Register</h3>

            </div>
        </div>
    </div>
</section>

<!-- HERO SECTION -->
<section style="height: auto;" id="register-form" class="align-items-center text-center">
    <div class="register-form">
        <div class="row">
            <!--div class="form-flash ">
                
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-close alert-dismissible fade show text-center" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div -->
            <div style="align-items: center; align-content: center;" class="form-control justify-content ">
                <div><h3>Register</h3></div>
                <hr><br>
            <div class="register-form-fields">
                {{ render_form(form) }}
            </div>
            <hr>
            <div class="login-instead">
                <h6>Already have an account?</h6>
                <a class="btn btn-sm btn-secondary rounded-pill" href="{{ url_for('login') }}">Login</a>
            </div>
            </div>
        </div>
    </div>
</section>


{% endblock content %}



